@import "tailwindcss";


/*-----------------------HEADER-----------------------*/
Header {
  height: var(--height-of-header);
  right: var(--padding-left-of-outer-borderline);
}



/*------mid-section-------*/
Header .search__bar {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  margin-left: 10px;
  background: #454545;
  color: #E0E0E0;

  border-radius: 25px;
}