@import "tailwindcss";



.description {
    @apply px-[25px] py-[10px] h-full flex-1 min-w-[500px] overflow-y-auto grow flex flex-col gap-[1.5rem];
    background-color: var(--background-color);

}

.description .description-img-container {
    @apply w-full h-[521px] flex justify-center;
}


.description .about-artist-text-container {
    @apply p-[12px];
}

.description .author-title {
    @apply p-[1rem] bg-[var(--accent-color3)]
}

.description .song-infromations-wrapper {
    padding-left: 1rem;
}

.description .title__paragraph {
    color: var(--main-color);
}



.description .description-about {
    background-color: var(--accent-color3)
}

.description .about-artist-text-container {
    @apply flex flex-col gap-4;
}

.description .followers {
    font-weight: 500;
    color: var(--help-color);
    font-size: 1.1rem;
}

.description .follow__button {
    @apply px-3 py-1
}

.description .follow__button:hover {
    @apply bg-[var(--accent-color2)] cursor-pointer
}

.description .credit-container {
    @apply p-3 bg-[var(--help-color2)] text-white rounded-xl flex flex-col justify-center items-center;
}



/*------------------WINDOW ADJUST---------------------*/

@media (max-width:1130px) {

    /*-DESCRIPTION-*/
    .description {
        min-width: 300px;
    }


    /*--IMG SECTION --  */
    .description .description-img-container {
        min-height: 150px;
        max-height: 250px;

        min-width: 100px;
        max-width: 100%;

        overflow: hidden;
    }

    .description .description-img-container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    /*---SONG INFORMATIION----*/
    .description .author-title {
        font-size: 0.7rem;
    }


    /*----CREDIT-----*/
    .description .credit-text-container {
        font-size: 0.7rem;
    }

}

@media(max-width:930px) {
    .description {
        min-width: 120px
    }


    /*----CREDIT-----*/
    .description .credit-container {
        @apply p-0 m-0 h-auto w-[full] grow flex-1 flex flex-col gap-[1.5rem];
        background-color: var(--help-color2);
        overflow-y: visible;

    }

    .description .credit-text-container {
        width: 100%;
        padding: 5px;
        font-size: 0.7rem;
        word-break: break-all;

    }
}


@media(max-width:690px) {
    .description {
        padding: 0px;
        gap: 2px
    }

    /*--about-author--*/
    .description .about-artist-text-container .artist-follow {
        @apply flex flex-col
    }

    .description .author-title {
        font-size: 0.5rem;
    }

    .description .about-artist-text-container {
        font-size: 0.7rem;
    }

    .description .artist-follow {
        font-size: 0.6rem;
    }

    .description .followers {
        font-size: 0.8rem;
    }


}