@import "tailwindcss";

.sign_in {
    @apply text-2xl font-bold flex justify-center items-center;
    padding-top:2rem;
    padding-bottom:2rem;
    font-size: 2.5rem;
}

.devider {
    width: 100%;
    border:1px solid rgb(78, 75, 75)
}


.form__input{
    @apply border min-w-[100%] border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.form__button{
    @apply bg-[var(--accent-color3)] text-white rounded px-4 py-2 hover:bg-[var(--accent-color)] transition;
}

.form__button__cancel{
    @apply text-gray-500 hover:text-gray-700 transition;
}