@import 'tailwindcss';

.music .create-playlist {
    @apply w-full flex justify-center items-start mt-5 mb-15
}


.music .create__playlist__form .name__input {
    @apply pl-10 h-[70px] w-full rounded-xl bg-black/30 text-[1.2rem]
}


.music .songs-to-add .song-desc {
    @apply pl-5
}

.music .song-to-add-container {
    @apply overflow-hidden bg-black/80 rounded-xl w-100 h-20 flex items-center
}


/*-----if added song || if not added song------*/
.music .added-song {
    @apply hover:bg-[var(--help-color3)] bg-[var(--accent-color)]
}

.music .not-added-song {
    @apply bg-[var(--help-color3)] hover:bg-[var(--accent-color)]
}

@media(width < 560px) {
    .music .song-to-add-container {
        width: 200px;
    }

    .music .create__playlist__form .name__input {
        width:50px;
        font-size:0.8rem;
        padding: 0px;
        padding-left:10px;
    }
}