@import 'tailwindcss';

.play-right-section {
    @apply h-full w-[300px] flex justify-center items-center;
}

.volume-container {
    @apply w-full h-full flex items-center gap-5;
    padding-right: 50px;
}


@media(max-width:690px) {
    .volume-icon-container {
        width: 0px;
        height: 0px;
        display: hidden;
    }

    .volume-container {
        padding-right: 0px;
    }

    .volume__text {
        width: 0px;
        height: 0px;
        display: hidden;
    }
}


@media (max-width:490px) {
    .volume-container {
        gap: 0px;
    }


}