@import 'tailwindcss';


.play-center-section {
    @apply h-full w-[400px] min-w-[250px] max-w-[600px] flex flex-col items-center;
}

.play-center-section .controll-buttons-container {
    @apply w-full flex-1 flex justify-center items-center gap-5
}

.play-center-section .loading-bar-gray {
    @apply min-w-[150px] max-w-[300px] h-[15px] bg-[var(--help-color2)] rounded-full overflow-hidden
}

.play-center-section .format-duration-time {
    @apply text-red-500 min-w-[50px]
}


.play-center-section .format-current-time {
    @apply text-red-500 min-w-[50px]
}

@media(max-width:490px) {
    .play-center-section {
        min-width: 100px;
    }

    .play-center-section .controll-buttons-container {
        gap: 0px;
    }

    .play-center-section .loading-bar-gray {
        min-width: 75px;        
    }

    .play-center-section .format-current-time,
    .play-center-section .format-duration-time {
        min-width: auto;
        font-size: 0.5rem
    }
}